body {
  background-color: lightgray;
}
header {
  background-color: lightgray;
  height: 10vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: block;
  text-align: center;
  margin-bottom: -50px;
}

main {
  background-color: lightgray;
  height: 100vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3px;
  width: 700px;
}

.small-box {
  border: solid white 8px;
  height: 40vh;
  width: 30vh;
  margin: 1vh;
}

div div:nth-child(1) {
  background-color: tomato;
}
div div:nth-child(2) {
  background-color: teal;
}
div div:nth-child(3) {
  background-color: burlywood;
}
div div:nth-child(4) {
  background-color: thistle;
}

p {
  position: relative;
  top: 20px;
  background-color: white;
  padding: 10px;
  margin: -2px;
}
.name {
  font-size: 20px;
}
